/* ---- GLOBAL ---- */
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f7f7f7;
    color: #0a1a2a;
}

h1, h2 {
    color: #e67e22;
}

/* ---- HEADER ---- */
header {
    background: #0a1a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    color: #f2c94c;
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

nav a {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

nav a:hover {
    color: #f2c94c;
}

/* ---- HERO ---- */
.hero {
    height: 70vh;
    background-size: cover;
    background-position: ce
